name: Compile main document
on: push
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: latexmk -synctex=1 -interaction=nonstopmode -file-line-error -pdf main.tex
